.div{
    width: 80px;
    height: 54px;
    line-height: 50px;
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    background-color: rgb(69, 159, 238);
    animation: shrink 1s;
}
@keyframes shrink{
    50%{
        transform: scale(1, 2);
    }
}